<h1>Welcome to the dummy app</h1>
<h2>Use this to test changes to the EasyAdmin gem</h1>

<ul>
  <li><%= link_to 'Delayed Jobs', admin_jobs_path %></li>
  <li><%= link_to 'Outbound Requests', admin_outbound_requests_path %></li>
</ul>
